<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UseYourTools.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C79BC21B8BD0E3CDD48B51E1DECCEDCC44CFE2C0</string>
				<key>dateExpires</key>
				<string>12/18/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C79BC21B8BD0E3CDD48B51E1DECCEDCC44CFE2C0</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAHR3JWC24</string>
						<key>name</key>
						<string>Karen Marsten</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UAHR3JWC24.com.useyourtools.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>UAHR3JWC24</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>UseYourTools.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9077527d-34f7-4b8e-8b89-c629684b53a6</string>
				<key>dateExpires</key>
				<string>12/18/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.useyourtools.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UAHR3JWC24</string>
				<key>name</key>
				<string>Karen Marsten</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
